# Capturing Text data

## Plain Text

In [2]:
import os
with open ("git.txt","r") as f:
    text=f.read()
    print(text)

git clone link
make changes
git status(Will show the chnaging that have been made)
git add -A(will add all of the files or you can add the specific file)
git commit -m "First commit"
git push(will push on github)

## Tabular Data

In [4]:
import pandas as pd
df=pd.read_csv("Tabular.csv")
df.head()

,Date,Stone,Pounds,Ounces,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change
0,7/30/2018,12.0,2.0,6.0,2726.0,1950.0,0.72,1.0,1.0,0.0,0.0,0.0,0.0,-30.0
1,7/31/2018,12.0,0.0,8.0,2696.0,2600.0,0.96,1.0,0.0,0.0,0.0,0.0,0.0,8.0
2,8/1/2018,12.0,1.0,0.0,2704.0,2500.0,0.92,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,8/2/2018,12.0,1.0,0.0,2704.0,1850.0,0.68,1.0,1.0,0.0,1.0,0.0,0.0,-40.0
4,8/3/2018,11.0,12.0,8.0,2664.0,2900.0,1.09,1.0,1.0,0.0,0.0,0.0,0.0,14.0

## Online Resources

In [10]:
import requests
import json

#fetch data from Rest API
r = requests.get("https://quotes.rest/qod.json")
res = r.json()
print(json.dumps(res, indent=4))

# Extract relevant object and field
q = res["contents"]["quotes"][0]
print(q["quote"], "\n--", q["author"])

{
    "success": {
        "total": 1
    },
    "contents": {
        "quotes": [
            {
                "quote": "One does not accumulate but eliminate.\r\nIt is not daily increase but daily\r\ndecrease. The height of cultivation\r\nalways runs to simplicity.",
                "length": "140",
                "author": "Bruce Lee",
                "tags": [
                    "accumulate",
                    "inspire",
                    "simplicity"
                ],
                "category": "inspire",
                "language": "en",
                "date": "2021-03-04",
                "permalink": "https://theysaidso.com/quote/bruce-lee-one-does-not-accumulate-but-eliminate-it-is-not-daily-increase-but-dai",
                "id": "ftQRfBbpXyWNL7klbORnPQeF",
                "background": "https://theysaidso.com/img/qod/qod-inspire.jpg",
                "title": "Inspiring Quote of the day"
            }
        ]
    },
    "baseurl": "https://theysaidso.com",
    "copyright": {
        "year": 2023,
        "url": "https://theysaidso.com"
    }
}
One does not accumulate but eliminate.
It is not daily increase but daily
decrease. The height of cultivation
always runs to simplicity.
-- Bruce Lee